<div class="black_square" style="width:<%=@dimensions[0]%>px;height:<%=@dimensions[0]%>px;">
<div id="show_container" style= "width:<%=@dimensions[0]%>px;height:<%=@dimensions[1]%>px;overflow:hidden;"><img src="/images/user_<%=@picture.user_id%>/<%=@picture.name%>">
</div>
</div>
